.contact-us {
  background-color: $main-color;
  padding-top: 92px;
  padding-bottom: 115px;
}
.contact-us-form {
  @include flex(28px);
  flex-wrap: wrap;
}
.contact-us-form-box {
  @include flex(28px);
  flex-direction: column;
}
.contact-us-input {
  @include text(normal, -0.35px);
  font-weight: 700;
  padding: 12px 20px 21px;
  width: 455px;
  outline: none;
  transition: border-color 550ms ease-in;
  &::placeholder {
    color: #bbb;
    text-transform: uppercase;
  }
  &:hover,
  &:focus {
    border: 2px solid transparent;
    cursor: pointer;
  }
}
.contact-us-comment {
  @include text(normal, -0.35px);
  font-weight: 700;
  padding-top: 14px;
  padding-left: 22px;
  resize: none;
  width: 458px;
  height: 212px;
  outline: none;
  transition: border-color 550ms ease-in;
  &::placeholder {
    color: #bbb;
    text-transform: uppercase;
  }
  &:hover,
  &:focus {
    border: 2px solid transparent;
    cursor: pointer;
  }
}
.contact-us-input,
.contact-us-textarea {
  /* задати початкові дані для рамки та зробити її прозорою, щоб при ефекті не стрибало */
  border: 2px solid transparent;
}
.contact-us-submit {
  width: 242px;
  height: 68px;
  background-color: $accent-color;
  font-family: Montserrat;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 33px 28px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  margin-top: 29px;
  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.7;
  }
}
