.header {
  padding-top: 44px;
}
.header > .container {
  display: flex;
  align-items: center;
}
.logo {
  color: $accent-color;
  font-family: Bilbo Swash Caps;
  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 1.3px;
}
.nav {
  margin-left: auto;
}
.nav-list {
  display: flex;
  gap: 10px;
}
.nav-link {
  color: $accent-color;
  text-align: center;
  @include text(1.92, normal);
  text-decoration: none;
  padding: 10px;
  position: relative;
  &:hover,
  &:focus {
    font-weight: 700;
  }
}
.current::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  position: absolute;
  background-color: $accent-color;
  border-radius: 4px;
}
