@mixin flex($gap) {
    display: flex;
    align-items: center;
    gap: $gap;
}
@mixin text($line-height, $letter-spacing) {
    font-size: 14px;
    text-transform: uppercase;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}